@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MoodTracker</h1>
    <p>'I don't want to be at the mercy of my emotions. I want to use them, to enjoy them, and to dominate them.' -Oscar Wilde.</p>
</div>
