@{
    ViewData["Title"] = "MoodTracker";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MoodTracker</h1>
</div>

<div class="text-center">
    <h2>What would you like to do?</h2>
    <p>
        <a asp-controller="DailyMood" asp-action="LogMoodForToday">Log Today's Mood</a>
    </p>
    <p>
        <a asp-controller="DailyMood" asp-action="Index">View my Year in Moods</a>
    </p>
    <p>
        <a asp-controller="Moods" asp-action="Create">Create a New Mood</a>
    </p>
</div>


