@model MoodTracker.ViewModels.DailyMoodViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Log your mood</h1>
@if (Model.Date == DateTime.Today)
{
    <p>How are you today?</p>
}
else
{
<p>How were you on @Model.Date.ToString("D", System.Globalization.CultureInfo.CurrentCulture)?</p>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Date" />
                @Model.Date.ToString("D", System.Globalization.CultureInfo.CurrentCulture)
            </div>
            <div class="form-group">
                <label asp-for="MoodId" class="control-label">Mood</label>
                @Html.DropDownListFor(m => m.MoodId, Model.MoodList, "Select Mood", new { @class = "form-control" })
                <span asp-validation-for="@Model.MoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoodIntensity" class="control-label"></label>
                <input type=range min=0.01 max=1 step=.01 value=1 asp-for="MoodIntensity" class="form-control slider" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Year in Moods</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
