@model MoodTracker.ViewModels.DailyMoodViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DailyMood</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DailyMood.Date" class="control-label"></label>
                <input asp-for="DailyMood.Date" class="form-control" />
                <span asp-validation-for="DailyMood.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyMood.MoodId" class="control-label">Mood</label>

                    @Html.DropDownListFor(m => m.DailyMood.MoodId, Model.MoodList, "Select Mood", new { @class = "form-control" })

                <span asp-validation-for="DailyMood.MoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyMood.Notes" class="control-label"></label>
                <input asp-for="DailyMood.Notes" class="form-control" />
                <span asp-validation-for="DailyMood.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
