/* Label styles */
.date {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #808080; }

.month {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #808080;
  padding: 0 3px 0 0; }

/* End label styles */
/* Mood table styles */
.moodTable td {
  padding: .2rem;
  margin: 0;
  border: 1px solid #ede8e8;
  line-height: 1; }

.moodCell {
  height: 2em;
  width: 2em;
  display: inline-block; }

/* End mood table styles */
/* Key styles */
.key {
  float: left;
  border: 1px solid #ede8e8;
  padding: 8px;
  margin: 5px 0; }
  .key .keyRow {
    padding: 0 20px;
    float: left; }
  .key .moodCell {
    height: 1.5em;
    width: 1.5em; }
  .key .moodName {
    display: inline-block;
    vertical-align: top;
    height: 1.5em; }

/* End key styles */
/* Tooltip styles */
.tooltipContainer {
  position: relative; }

.actionTooltip {
  transition-delay: .3s;
  opacity: 0;
  transition: visibility 0.3s linear,opacity 0.3s linear; }

.tooltipContainer .actionTooltip {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s linear,opacity 0.4s linear;
  text-align: center;
  font-size: 16px;
  padding: 3px 0;
  border-radius: 3px;
  position: absolute;
  width: 180px;
  background-color: #ffffff;
  border: 1px solid #c9c6c6;
  box-shadow: #808080 2px 2px;
  bottom: 100%;
  left: 50%;
  margin-left: -90px;
  z-index: 1; }

.tooltipContainer:hover .actionTooltip {
  visibility: visible;
  opacity: 1; }

.actionTooltip:hover {
  visibility: visible; }

.tooltipContainer .actionTooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: white transparent transparent transparent; }

/* End Tooltip styles */
